parameters:
  paths:
    - app
    - config
    - database
    - routes
    - src
    - tests

  excludePaths:
    - database/migrations/*

includes:
  # spaze phpstan rules
  - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

  # symplify prepared sets
  - vendor/symplify/phpstan-rules/config/regex-rules.neon
  - vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
  - vendor/symplify/phpstan-rules/config/test-rules.neon

rules:
  ### Static Rules(vendor/symplify/phpstan-rules/config/static-rules.neon) ###
  - Symplify\PHPStanRules\Rules\Spotter\IfElseToMatchSpotterRule
  - Symplify\PHPStanRules\Rules\Missing\CheckSprintfMatchingTypesRule

  # domain
  - Symplify\PHPStanRules\Rules\Domain\RequireExceptionNamespaceRule
  - Symplify\PHPStanRules\Rules\CheckAttributteArgumentClassExistsRule
  - Symplify\PHPStanRules\Rules\Enum\RequireUniqueEnumConstantRule
  - Symplify\PHPStanRules\Rules\ForbiddenParamTypeRemovalRule
  - Symplify\PHPStanRules\Rules\NoNestedFuncCallRule
  - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

  # paths
  - Symplify\PHPStanRules\Rules\NoMissingDirPathRule
  - Symplify\PHPStanRules\Rules\NoReferenceRule
  - Symplify\PHPStanRules\Rules\NoArrayAccessOnObjectRule

  - Symplify\PHPStanRules\Rules\BoolishClassMethodPrefixRule

  # dead-code
  - Symplify\PHPStanRules\Rules\NoIssetOnObjectRule

  # explicit naming
  - Symplify\PHPStanRules\Rules\NoDefaultExceptionRule
  - Symplify\PHPStanRules\Rules\NoParentMethodCallOnNoOverrideProcessRule
  - Symplify\PHPStanRules\Rules\RequireThisOnParentMethodCallRule
  - Symplify\PHPStanRules\Rules\RequireThisCallOnLocalMethodRule
  - Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule

  # comlexity
  - Symplify\PHPStanRules\Rules\Complexity\ForbiddenSameNamedNewInstanceRule

  - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule
  - Symplify\PHPStanRules\Rules\ForbiddenThisArgumentRule
  - Symplify\PHPStanRules\Rules\CheckRequiredInterfaceInContractNamespaceRule
  - Symplify\PHPStanRules\Symfony\Rules\PreventDoubleSetParameterRule
  - Symplify\PHPStanRules\Rules\NoEmptyClassRule

  # naming
  - Symplify\PHPStanRules\Rules\RequireAttributeNameRule

  ### Naming Rules(vendor/symplify/phpstan-rules/config/naming-rules.neon) ###
  - Symplify\PHPStanRules\Rules\NoReturnSetterMethodRule
  - Symplify\PHPStanRules\Rules\RequiredAbstractClassKeywordRule
  - Symplify\PHPStanRules\Rules\NoVoidGetterMethodRule
  - Symplify\PHPStanRules\Rules\UppercaseConstantRule
  - Symplify\PHPStanRules\Rules\ClassNameRespectsParentSuffixRule
  - Symplify\PHPStanRules\Rules\CheckTypehintCallerTypeRule
  - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule

  ### Code Complexity Rules(vendor/symplify/phpstan-rules/config/code-complexity-rules.neon) ###
  - Symplify\PHPStanRules\Rules\Explicit\NoMixedCallableRule
  - Symplify\PHPStanRules\Rules\Explicit\NoMixedPropertyFetcherRule
  - Symplify\PHPStanRules\Rules\Explicit\NoMixedMethodCallerRule
  - Symplify\PHPStanRules\Rules\Complexity\ForbiddenNamedArgumentsRule
  - Symplify\PHPStanRules\Rules\Explicit\NoGetterAndPropertyRule
  - Symplify\PHPStanRules\Rules\PHPUnit\NoRightPHPUnitAssertScalarRule
  - Symplify\PHPStanRules\Rules\Complexity\NoAbstractRule
  - Symplify\PHPStanRules\Rules\Complexity\ForbiddenInlineClassMethodRule
  - Symplify\PHPStanRules\Rules\Enum\RequireEnumDocBlockOnConstantListPassRule
  - Symplify\PHPStanRules\Rules\NoFuncCallInMethodCallRule
  - Symplify\PHPStanRules\Rules\NoDynamicNameRule
  - Symplify\PHPStanRules\Rules\ForbiddenNestedCallInAssertMethodCallRule
  - Symplify\PHPStanRules\Rules\Explicit\NoRelativeFilePathRule

services:
  - class: Symplify\PHPStanRules\Rules\NoDuplicatedShortClassNameRule
    tags: [ phpstan.rules.rule ]
    arguments:
      toleratedNestingLevel: 2
  - class: Symplify\PHPStanRules\Rules\PreventDuplicateClassMethodRule
    tags: [ phpstan.rules.rule ]
    arguments:
      minimumLineCount: 5

  # required for "PreventDuplicateClassMethodRule"
  - class: Symplify\PHPStanRules\Collector\ClassMethod\ClassMethodContentCollector
    tags: [ phpstan.collector ]

  - class: Symplify\PHPStanRules\ObjectCalisthenics\Rules\NoShortNameRule
    tags: [ phpstan.rules.rule ]
    arguments:
      minNameLength: 3
      allowedShortNames: [ 'id' ]

  - class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
    tags: [ phpstan.rules.rule ]
    arguments:
      forbiddenFunctions:
        d: 'seems you missed some debugging function'
        dd: 'seems you missed some debugging function'
        dump: 'seems you missed some debugging function'
        var_dump: 'seems you missed some debugging function'
